<?import org.dehydrogenaza.data.utils.DisplayState?>
<form class="container-fluid" onsubmit="return false">
    <div class="border rounded-4 p-4 bg-light">

        <section class="row container-fluid g-0" id="dateSection">
            <h4 class="display-6 mb-3">1. Wprowadź datę...</h4>
            <div class="col-md-6 px-2 g-0">
                <label for="inputDateOfBirth" class="form-label">...urodzenia</label>
                <input type="date" id="inputDateOfBirth"
                       attr:class="'form-control' + (form.dateOfBirthMissing ? ' is-invalid' : '')"
                       html:bidir-value="form.dateOfBirth"
                       min="1900-01-01">
                <div id="inputDateOfBirthFeedback" class="invalid-feedback">
                    <html:text value="form.dateOfBirthMissing ? 'Nienarodzonych nie szczepimy.' : ''"/>
                </div>
            </div>
            <div class="col-md-6 px-2 g-0">
                <label for="inputDateOfFirstVaccination" class="form-label">...rozpoczęcia szczepień</label>
                <input type="date" id="inputDateOfFirstVaccination"
                       attr:class="'form-control' + ((form.dateOfFirstVaccinationMissing || form.dateOfFirstVaccinationTooEarly) ? ' is-invalid' : '')"
                       html:bidir-value="form.dateOfFirstVaccination" html:enabled="not form.dateOfBirth.equals('')"
                       attr:min="form.dateOfBirth">
                <div id="inputDateOfFirstVaccinationFeedback" class="invalid-feedback">
                    <html:text value="form.dateOfFirstVaccinationMissing ? 'Wbijaj datę pierwszego zastrzyka' : ''"/>
                    <html:text value="((not form.dateOfFirstVaccinationMissing) and form.dateOfFirstVaccinationTooEarly) ? 'W brzuchu matki będziesz kłuł?' : ''"/>
                </div>
            </div>
        </section>

        <section class="mt-5 g-0" id="vaccineSelectionSection">
            <h4 class="display-6 mb-2">2. Co wszczyknąć xD</h4>
            <div class="ps-5 row m-0 g-0">
            <std:foreach var="vaccine" in="vaccines">
                <div class="form-check form-switch col-sm-6 col-lg-4 col-xl-3 pt-3">
<!--                    TODO: maybe this could be bidir-checked-->
                    <input class="form-check-input" type="checkbox" role="switch" attr:id="'vaccineSwitch' + vaccine.getId()"
                           html:checked="vaccine.selected"
                           html:checked-change="vaccine.setSelected(it)">
                    <label class="form-check-label" attr:for="'vaccineSwitch' + vaccine.getId()"><html:text value="vaccine.getName()"/></label>
                </div>
            </std:foreach>
            </div>
        </section>
    </div>

    <div attr:class="displayState == DisplayState.CALENDAR ? 'd-none' : 'row container-fluid justify-content-center p-3'">
        <div class="border rounded-4 p-4 bg-light col-sm-6">
            <div class="row g-0 justify-content-center">
                <button class="btn btn-primary btn-lg col-xl-4" type="submit"
                    event:click="submit()">Wygeneruj kalendarz</button>
                <div class="form-check col-10 pt-3 align-items-center">
                    <input attr:class="'form-check-input' + ((form.licenseAccepted or (displayState != DisplayState.BAD_SUBMIT)) ? '' : ' is-invalid')" type="checkbox" value="" id="licenseCheck"
                           html:bidir-checked="form.licenseAccepted">
                    <label class="form-check-label" for="licenseCheck">Zgadzam się z regulaminem, nie zamierzam Was pozywać jak źle zaszczepię dziecioka itd.</label>
                    <div id="licenseCheckFeedback" class="invalid-feedback">
                        Nie no weź się zgódź :(
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div attr:class="displayState == DisplayState.CALENDAR ? 'container-fluid pt-3' : 'd-none'">
    <div class="border rounded-4 p-4 bg-light">
        <section class="container-fluid g-0 justify-content-center">
            <h4 class="display-6 mb-3">3. Kalendarz</h4>

            <table class="table align-middle table-hover">
                <thead>
                <tr class="d-none d-sm-table-row">
<!--                    TODO: Add <small> tags with instructions, "zmień termin" or sth-->
                    <th class="col-2">Data</th>
                    <th>Szczepionki</th>
                </tr>
                </thead>

                <tbody>
                <std:foreach var="date" in="calendar">
                    <tr>
                        <td class="d-none d-sm-table-cell">
                            <input type="date" attr:class="'form-control' + (date.inBounds ? '' : ' is-invalid')"
                                   html:bidir-value="date.tempDate"
                                   attr:id="'lgSchedule' + date.getDate()" aria-label="'schedule' + date.getDate()">
                            <button attr:class="'btn btn-dark btn-sm mt-2' + (date.setToConfirm ? '' : ' d-none')" type="button"
                                    event:click="confirmCalendarChange(date)">Potwierdź</button>
                            <button attr:class="'btn btn-danger btn-sm mt-2' + (date.setToRemove ? '' : ' d-none')" type="button"
                                    event:click="confirmCalendarChange(date)">Usuń</button>
                            <div class="invalid-feedback">
                                <html:text value="not date.inBounds ? 'Poza zakresem.' : ''"/>
                            </div>
                        </td>
                        <td>
                            <div class="d-block d-sm-none justify-content-right">
                                <input type="date" attr:class="'form-control d-sm-none' + (date.inBounds ? '' : ' is-invalid')"
                                       html:bidir-value="date.tempDate"
                                       attr:id="'smSchedule' + date.getDate()" aria-label="'schedule' + date.getDate()">
                                <button attr:class="'btn btn-dark btn-sm mt-2' + (date.setToConfirm ? '' : ' d-none')" type="button"
                                    event:click="confirmCalendarChange(date)">Potwierdź</button>
                                <button attr:class="'btn btn-danger btn-sm mt-2' + (date.setToRemove ? '' : ' d-none')" type="button"
                                        event:click="confirmCalendarChange(date)">Usuń</button>
                                <div class="invalid-feedback">
                                    <html:text value="not date.inBounds ? 'Poza zakresem.' : ''"/>
                                </div>
                            </div>
                            <std:foreach var="dose" in="date.doses">
                                <div class="dropup d-inline-block">
                                    <button class="btn btn-outline-primary dropdown-toggle m-1 text-wrap" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 18rem;">
                                        <html:text value="dose.type.name"/>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" id="test" onclick="event.stopPropagation()">
                                            <small class="text-muted align-top">Zmień termin</small>
                                            <input type="date" class="form-control" html:bidir-value="dose.tempDate">
                                            <button attr:class="'btn btn-dark btn-sm mt-1 float-end' + (dose.setToNew ? '' : ' d-none')" type="button"
                                                    event:click="confirmDoseChange(date, dose)">Potwierdź</button>
                                            <button attr:class="'btn btn-danger btn-sm mt-1 float-end' + (dose.setToRemove ? '' : ' d-none')" type="button"
                                                    event:click="confirmDoseChange(date, dose)">Usuń</button>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Usuń (tylko tę dawkę)</a></li>
                                        <li><a class="dropdown-item" href="#">Usuń <span class="text-danger">(wszystkie dawki)</span></a></li>
                                    </ul>
                                </div>
                            </std:foreach>
                        </td>
                    </tr>
                </std:foreach>
                </tbody>
            </table>

        </section>
    </div>
</div>

<!--    a fake "console" for quick visual reference-->
    <html:text value="'MAIN LOGGER: ' + testLogger"/><br>
    <html:text value="'FORM LOGGER: ' + form.formLog"/><br>
    <html:text value="'current state: ' + displayState"/><br>

<button class="btn btn-dark" type="button"
        event:click="addDate()">+Data</button>
<button class="btn btn-dark" type="button"
        event:click="addVaccine(3)">+Szczepionka</button>
<button class="btn btn-dark" type="button"
        event:click="submit()">+Resubmit</button>